<div class="container w-4/5 flex flex-row justify-center pt-16 pb-12">
    <div class="grid grid-span-4 mr-32">
        <h5 class="footer-item">BUSKER</h5>
        <ul>
            <li class="footer-link">(주)버스커</li>
            <li class="footer-link">사업자등록번호 000-00-00000</li>
            <li class="footer-link">법인등록번호 000000-0000000</li>
            <li class="footer-link">대표 버스커</li>
            <li class="footer-link">서울특별시 종로구 홍지동 홍지문2길 20</li>
            <li class="footer-link">contact@busker.com</li>
            <li class="footer-link">000-0000-0000</li>
            <span class="footer-link flex justify-center mt-32">&copy; 2021 BUSKER. All rights reserved.</span>
        </ul>
    </div>

    <div class="grid grid-span-2 mr-32">
        <ul>
            <h5 class="footer-item text-sm">서비스 소개</h5>
            <li class="footer-link"><a href="#">Resource</a></li>
            <li class="footer-link"><a href="#">Resource name</a></li>
            <li class="footer-link"><a href="#">Another resource</a></li>
            <li class="footer-link"><a href="#">Final resource</a></li>
        </ul>
    </div>

    <div class="gird grid-span-2 mr-32">
        <h5 class="footer-item text-sm">서비스 정책</h5>
        <ul>
            <li class="footer-link"><a href="#">main</a></li>
            <li class="footer-link"><a href="#">Question</a></li>
            <li class="footer-link"><a href="#">Service usage guide</a></li>
            <li class="footer-link"><a href="#">Contact us</a></li>
        </ul>
    </div>

    <div class="gird grid-span-2 mr-32"></div>
</div>