<ul class="flex items-center justify-center h-full">
    {% if user.is_authenticated %}
        <li class="nav-link">
            {{user.nickname}}
        </li>
        <li class="nav-link">
            <a href="{% url 'users:profile' user.id %}">마이페이지</a>
        </li>
        {% if user.busker %}
            <li class="nav-link">
                <a href="{% url 'broadcasts:create' %}">채널 만들기</a>
            </li>
            <li class="nav-link">
                <a href="#">스튜디오 만들기</a>
            </li>
        {% endif %}
        <li class="nav-link">
            <a href="{% url 'users:logout' %}">Logout</a>
        </li>
    {% else %}
        <li class="nav-link">
            <a href="{% url 'users:login' %}">Login</a>
        </li>
        <li class="nav-link">
            <a href="{% url 'users:signup' %}">Join</a>
        </li>
    {% endif %}
</ul>