<ul class="flex items-center justify-center h-full">
    {% if user.is_authenticated %}
        <li class="nav-link">
            {{user.nickname}}
            {% if user.busker %}
                <i class="fas fa-microphone text-yellow-400 ml-1"></i>
            {% endif %}
        </li>
        <li class="nav-link">
            <a href="{% url 'users:profile' user.pk %}">마이페이지</a>
        </li>
        
        <li class="nav-link">
            <a href="{% url 'users:logout' %}">Logout</a>
        </li>
    {% else %}
        <li class="nav-link">
            <a href="{% url 'users:login' %}">Login</a>
        </li>
        <li class="nav-link">
            <a href="{% url 'users:signup' %}">Join</a>
        </li>
    {% endif %}
</ul>
