<div class="w-1/5 border-r mr-32">
    <h1 class="font-bold text-2xl mb-5">마이 페이지</h1>
    <ul class="mb-14">
        <li class="mypage-nav-item">
            <h2>프로필 관리</h2>
        </li>
        <li class="mypage-nav-link">
            <a href="{% url 'users:profile' user.pk %}">내 프로필</a>
        </li>
        <li class="mypage-nav-link">
            <a href="{% url 'users:update' %}">프로필 수정</a>
        </li>
    </ul>
    <ul class="mb-14">
        <li class="mypage-nav-item">
            <h2>구독(준비중)</h2>
        </li>
        <li class="mypage-nav-link">
            <a href="#">구독 중인 버스커</a>
        </li>
    </ul>
    <ul class="mb-14">
        <li class="mypage-nav-item">
            <h2>후원 관리(준비중)</h2>
        </li>
        <li class="mypage-nav-link">
            <a href="#">후원정보</a>
        </li>
        <li class="mypage-nav-link">
            <a href="#">후원금 충전</a>
        </li>
        <li class="mypage-nav-link">
            <a href="#">후원금 관리</a>
        </li>
    </ul>
</div>