<div class="w-1/5 border-r mr-10">
    <h1 class="font-bold text-2xl mb-5">{{studio.host.nickname}}의 스튜디오</h1>
    <ul class="mb-14">
        <li class="mypage-nav-item mb-10">
            프로필
        </li>
        <li class="mypage-nav-item">
            <h2>커뮤니티</h2>
        </li>
        <li class="mypage-nav-item text-base font-medium">
            <a href="#">공지사항</a>
        </li>
        <li class="mypage-nav-item text-base font-medium">
            <a href="#">자유게시판</a>
        </li>
    </ul>
    
</div>