{% extends "base.html" %}

{% block page_title %}{{broadcast.name}}{% endblock page_title %}

{% block content %}

<div class="container w-4/5 mx-auto mb-25vh">
    <div class="flex flex-row mt-12 mb-8">
        <div class="relative w-3/4 h-75vh rounded-md bg-gray-900 flex flex-col justify-center items-center">
            <i class="fas fa-play text-7xl mb-10 hover:opacity-70"></i>
            <span class="absolute top-5 left-5 z-40 text-gray-300">실시간 방송 및 채팅 기능 개발 중입니다</span>
            <span class="absolute top-5 right-5 z-40 text-yellow-400 font-bold text-lg">BUSKER</span>
            <span class="absolute bottom-2 right-2 text-gray-300 text-sm">{{broadcast.picture_quality}}</span>
        </div>
        <div class="w-1/4 h-75vh bg-gray-100 ml-4 rounded-md flex flex-col relative">
            <textarea class="resize-none border h-5/6 rounded-md"></textarea> 
            <input type="text ring-gray-300" name="chat" placeholder="채팅 메세지를 입력해주세요" id="id_chat" class="w-11/12 mx-1 absolute bottom-11 right-2">
            <div class="absolute bottom-3 right-2">
                <button class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-1 px-5 rounded ">SEND</button>
            </div>
        </div>    
    </div>
    <div>
        <div class="flex justify-between mb-1">
            <span class="w-3/4 font-bold text-3xl text-yellow-400 block truncate">{{broadcast.name}}</span>
            <div>
                {% if broadcast.host == user %}
                    <a href="{% url 'broadcasts:update' pk=broadcast.pk %}" class="btn bg-yellow-400 rounded-full px-3 text-sm ml-3">내 채널 수정하기</a>
                {% endif %}
                {% if broadcast.host.studio %}
                    <a href="{% url 'studios:posts' broadcast.host.studio.pk %}"><span class="btn bg-yellow-400 rounded-full px-3 text-sm ml-3">스튜디오 가기</span></a>
                {% endif %}
            </div>
        </div>
        <div class="border-b border-gray-400 pb-3 mb-32">
            <div class="flex items-center mb-3">
                <span class="font-semibold text-lg">{{broadcast.host.nickname}}</span>
                <div class="border-r h-4 border-white ml-3"></div>
                <span>
                    {% for g in broadcast.genres.all %}                                
                        <span class="text-lg ml-3">{{g}}</span>                                                                         
                    {% endfor %}
                </span>
                <div class="border-r h-4 border-white ml-3"></div>
                {% if broadcast.on_air %}
                    <span class="text-sm ml-3 bg-blue-300 text-busker-navy px-2 rounded-full">On Air</span>                                                                         
                {% endif %}
            </div>
            <span class="text-lg">{{broadcast.desc}}</span>
        </div>
        
        <div class="flex flex-row flex-wrap mb-24">
            {% for on_air in broadcast.get_on_airs.all %}
                <div class="w-1/5 pb-2 px-2">
                    <a href="{% url 'broadcasts:detail' on_air.pk %}">
                        {% if on_air.image %}
                            <div class="w-full h-56 rounded-3xl mb-2 bg-gray-100 bg-cover bg-center" style="background-image: url({{on_air.image.url}});">
                                <div class="w-full h-56 rounded-3xl bg-black bg-opacity-40 flex items-end px-3 pb-3">
                                    <div class="w-full flex flex-col z-10">
                                        <span class="text-lg mb-px overflow-hidden text-yellow-400 font-semibold block truncate">{{ on_air.name }}</span>
                                        <div class="flex justify-between items-center">
                                            <span class="text-xs mb-px">{{on_air.host.nickname}}</span>
                                            <div class="m-0 p-0 flex items-center">
                                            {% for g in on_air.genres.all %}                           
                                                <span class="text-xs mb-px ml-2">{{g}}</span>                                                                         
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="w-full h-56 rounded-3xl mb-2 bg-gray-900 bg-cover bg-center">
                                <div class="w-full h-56 rounded-3xl bg-black bg-opacity-40 flex items-end px-3 pb-3">
                                    <div class="w-full flex flex-col z-10">
                                        <span class="text-lg mb-px overflow-hidden text-yellow-400 font-semibold block truncate">{{ on_air.name }}</span>
                                        <div class="flex justify-between items-center">
                                            <span class="text-xs mb-px">{{on_air.host.nickname}}</span>
                                            <div class="m-0 p-0 flex items-center">
                                            {% for g in on_air.genres.all %}                           
                                                <span class="text-xs mb-px ml-2">{{g}}</span>                                                                         
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}    
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}