{% extends "base.html" %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}

<div class="container w-4/5 mx-auto">
    <div class="w-full h-75vh rounded-md bg-busker-navy mt-12 bg-cover bg-center flex flex-col justify-center items-center mb-36" style="background-image: url(https://images.unsplash.com/photo-1453090927415-5f45085b65c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&);">
        <h1 class="text-white font-bold text-5xl mb-32">Anyone Can Sing, Anywhere</h1>
        <i class="fas fa-play text-7xl mb-5 hover:opacity-80"></i>
        <span class="text-white text-3xl">START RANDOM LIVE</span>
    </div>    

    <div class="flex justify-center mb-10">
        <span class="text-2xl border-b-2 py-2 font-bold">Genres</span>
    </div>

    <div class="w-1/4 mb-16 px-2 overflow-hidden">
        <a href="#">
            <div class="w-full h-64 bg-cover bg-center rounded-3xl mb-2 bg-gray-100" style="background-image: url();"></div>
        </a>
    </div>

    <div class="flex justify-center mb-10">
        <span class="text-2xl border-b-2 py-2 font-bold">Nations</span>
    </div>

    <div class="w-1/4 mb-16 px-2 overflow-hidden">
        <a href="#">
            <div class="w-full h-64 bg-cover bg-center rounded-3xl mb-2 bg-gray-100" style="background-image: url();"></div>
        </a>
    </div>
</div>

{% endblock %}