{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %} | BUSKER</title>
    <link rel="stylesheet" href="/static//css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body class="bg-busker-navy text-white">
    <header class="container max-w-full flex items-center justify-between px-10 h-14 inset-0 bg-busker-navy text-white">
        <a href="{% url 'core:home' %}" class="font-bold text-2xl">BUSKER</a>
        {% include 'partials/nav.html' %}
    </header>

    {% block content %}{% endblock %}

    <footer class="text-sm text-gray-200 bg-gray-900 w-full">
        {% include 'partials/footer.html' %}
    </footer>
</body>
</html>