{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %} | BUSKER</title>
    <link rel="stylesheet" href="/static//css/styles.css">
</head>
<body>
    <header class="container max-w-full flex items-center px-5 h-20 inset-0">
        {% include 'partials/nav.html' %}
    </header>

    {% block content %}{% endblock %}

    <footer class="text-sm text-gray-200 bg-gray-900 w-full">
        {% include 'partials/footer.html' %}
    </footer>
</body>
</html>