<form method="POST" class="w-2/3 flex flex-col justify-center" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="text-sm text-red-700">{{error}}</span>
        {% endfor %}
    {% endif %}

    {% for field in form %}
        {% include 'mixins/auth/form_input.html' with field=field %}
    {% endfor %}
    
    <button class="py-2 rounded-lg font-bold mt-5 bg-yellow-400 text-busker-navy">{{cta}}</button>
<form>