{% extends 'base.html' %}

{% block page_title %}{{studio.host.nickname}}의 스튜디오{% endblock %}

{% block content %}

<div class="container w-4/5 mx-auto mt-16 mb-50vh flex flex-row">
    {% include 'mixins/studios/studio_nav.html' %}

    <div class="flex flex-col w-4/5">
        <div class="w-full h-64 bg-cover bg-center mb-10 opacity-80 relative" style="background-image: url({{studio.image.url}});">
            <span class="absolute top-1 right-2 text-sm font-bold">BUSKER</span>
        </div>
        <div class="flex justify-between mb-10">
            <span class="text-2xl">커뮤니티</span>
            <a href="{% url 'studios:add-posts' studio.pk %}" class="text-center bg-yellow-500 rounded-xl py-1 px-5 text-busker-navy font-bold mr-2 w-32">새 글쓰기</a>
        </div>
        <div>
            <table class="w-full mb-5">
                <thead class="h-12 bg-gray-900 mb-10">
                    <tr>
                        <th colspan="1" class="w-8 font-light text-gray-300">번호</th>
                        <th colspan="1" class="w-64 font-light text-gray-300">제목</th>
                        <th colspan="1" class="w-20 font-light text-gray-300">작성자</th>
                        <th colspan="1" class="w-20 font-light text-gray-300">작성일자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr class="h-16 border-b border-gray-500">
                            <td class="w-8 text-center font-light">{{post.pk}}</td>
                            <td class="w-64 text-left pl-10 font-light">
                                <a href="{% url 'studios:post-detail' studio_pk=studio.pk pk=post.pk %}">
                                    {{post.title}}
                                </a>
                            </td>
                            <td class="w-20 text-center font-light">{{post.writer.nickname}}</td>
                            <td class="w-20 text-center font-light">{{post.created|date:"f a d M"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="w-full flex justify-center items-center text-lg relative">
                <span class="absolute right-0 text-sm pb-5 text-gray-300 ">{{posts.number}} 페이지</span>

                {% if posts.has_previous %}
                <a href="?page={{posts.previous_page_number}}" class="text-gray-300 mr-3 pl-2 py-2 text-2xl hover:text-yellow-400"><i class="fas fa-angle-double-left"></i></a>
                {% endif %}
    
                {% for p in posts.paginator.page_range %}
                    <a href="?page={{p}}" class="text-gray-300 mx-1 p-2 text-xl hover:text-yellow-400">{{p}}</a>
                {% endfor %}
                
                {% if posts.has_next %}
                    <a href="?page={{posts.next_page_number}}" class="text-gray-300 ml-3 pr-2 py-2 text-2xl hover:text-yellow-400"><i class="fas fa-angle-double-right"></i></a>
                {% endif %}
            </div>
        </div>
        
        <div class="flex justify-end">
            {% if user == studio.host %}
                <a href="{% url 'studios:update' studio.pk %}" class="bg-yellow-500 rounded-xl py-1 px-5 text-busker-navy font-bold mr-2">스튜디오 수정 및 삭제</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}