{% extends 'base.html' %}

{% block page_title %}{{studio.host.nickname}}의 스튜디오{% endblock %}

{% block content %}

<div class="container w-4/5 mx-auto mt-16 mb-64 flex flex-row">
    {% include 'mixins/studios/studio_nav.html' %}

    <div class="flex flex-col w-4/5">
        <div class="w-full h-64 bg-cover bg-center mb-10 opacity-80" style="background-image: url({{studio.image.url}});"></div>
        <div class="flex justify-between mb-10">
            <span class="text-2xl">공지사항</span>
            <a href="{% url 'studios:add-posts' studio.pk %}" class="text-center bg-yellow-500 rounded-xl py-1 px-5 text-busker-navy font-bold mr-2 w-32">새 글쓰기</a>
        </div>
        <div>
            <table class="w-full mb-20">
                <thead class="h-12 bg-gray-900 mb-10">
                    <tr>
                        <th colspan="1" class="w-8 font-light text-gray-300">번호</th>
                        <th colspan="1" class="w-64 font-light text-gray-300">제목</th>
                        <th colspan="1" class="w-20 font-light text-gray-300">작성자</th>
                        <th colspan="1" class="w-20 font-light text-gray-300">작성일자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in studio.posts.all %}
                        <tr class="h-16 border-b border-gray-500">
                            <td class="w-8 text-center font-light">{{post.pk}}</td>
                            <td class="w-64 text-left pl-10 font-light">
                                <a href="{% url 'studios:post-detail' studio_pk=studio.pk pk=post.pk %}">
                                    {{post.title}}
                                </a>
                            </td>
                            <td class="w-20 text-center font-light">{{post.writer.nickname}}</td>
                            <td class="w-20 text-center font-light">{{post.created|date:"D d M Y"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="flex justify-end">
            {% if user == studio.host %}
                <a href="{% url 'studios:update' studio.pk %}" class="bg-yellow-500 rounded-xl py-1 px-5 text-busker-navy font-bold mr-2">스튜디오 수정 및 삭제</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}